<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head th:insert="~{/fragments/head :: head}"></head>

<body id="top">

<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay padtop" style="background-image:url('/img/demo/backgrounds/WallpaperDog-605635.jpg');">
    <!-- ################################################################################################ -->
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <!-- ################################titulopagina####################################### -->
            <h1 class="titulo"> Supercoders Comics</h1>
            <!--################################################################################################ -->
        </div>
        <!-- #############################Menusuperior############################################################ -->

        <!-- ################################################################################################ -->
        <nav id="mainav" class="fl_right">
            <!-- ##############################botoniniciosecion########################################################## -->
            <ul sec:authorize="isAuthenticated()" class="clear">
                <li>
                    <a th:href="@{/enterprise}" type="button" class="btn btn-outline-secondary btn-sm px-4">Enterprise</a>
                </li>
                <li>
                    <a href="/logout" type="button" class="btn btn-outline-danger btn-sm px-4">Logout</a>
                </li>
            </ul>
            <ul sec:authorize="!isAuthenticated()" class="clear">
                <li>
                    <a th:href="@{/login}" type="button" class="btn btn-outline-secondarysm px-4">Log In</a>
                </li>
            </ul>
            <!-- ################################################################################################ -->
        </nav>
    </header>
    <div class="logoMontegez">
        <a th:href="@{/}"><img class="logoPrimario" src="/img/logoo.png" alt="#" /></a>
    </div>
</div>
<!-- ##########################################iniciocards############################################## -->

<th:block th:if="${message != null}">
    <!-- /* The message code is returned from the @Controller */ -->
    <div th:replace="~{/fragments/alert :: alert (message=${message})}">&nbsp;</div>
</th:block>

<!-- ##########################################fincard################################################### -->

<!-- ##########################################infoempresa##########################################-->
<div class="h-100 d-flex flex-row justify-content-start align-items-start">
    <aside class="col-md-3 mx-auto">
        <div th:insert="~{/fragments/sidebar :: sidebar}"></div>
    </aside>
    <main class="content col-md-9 mx-auto">
        <!--CONTENIDO MODIFICABLE-->
        <div id="section-title" class="row">
            <div class="align-items col-md-12 mt-5">
                <h3 class="text-center text-muted">
                    Something went wrong!
                </h3>
            </div>
        </div>

        <!--FIN DEL CONTENIDO MODIFICABLE-->
    </main>
</div>

<div th:insert="~{/fragments/footer :: copy}"></div>
<!--
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>-->

<script th:inline="javascript">
    window.onload=function(){

        var msg = [[${message}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
        }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>
<!-- JAVASCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/layout/scripts/jquery.backtotop.js"></script>
<script src="/layout/scripts/jquery.mobilemenu.js"></script>
<!-- Javascript files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!--<script src="js/plugin.js"></script>-->
<!-- sidebar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/custom.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>