<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">

    <div class="wrapper row1 d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <section id="ctdetails" class="hoc clear">
            <!-- ################################################################################################ -->
            <ul class="nospace clear">
                <li class="one_quarter first">
                    <div class="block clear"><a href="#" target="_blank"><i class="fas fa-phone"></i></a> <span><strong>Phone:</strong> +57 300-0000000</span></div>
                </li>
                <li class="one_quarter">
                    <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Email Contact:</strong> contact@supercoder.com</span></div>
                </li>
                <li class="one_quarter">
                    <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday. - Friday.:</strong> 08.00am - 18.00pm</span></div>
                </li>
                <li class="one_quarter">
                    <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Visit us:</strong> Address <a href="#">our location</a></span></div>
                </li>
            </ul>
            <!-- ################################################################################################ -->
        </section>
    </div>
<!--
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    -->
</div>
</body>
</html>