<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header id="header" th:fragment="header2" class="container-fluid h-100" style="background-image:url('/img/demo/backgrounds/WallpaperDog-605635.jpg');">
        <div id="logo" class="fl_left">
            <!-- ################################titulopagina####################################### -->
            <h1 class="titulo"> Supercoders Comics</h1>
            <!--################################################################################################ -->
            <div>
                <a th:href="@{/}"><img class="logoSegundario" width="180px;" src="/img/logoo.png" alt="#" /></a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">

            <!-- ##############################botoniniciosecion########################################################## -->
            <ul class="fl_right navbar-nav me-auto">
                <li><a href="inicioSesión.html">Iniciar Sesion</a></li>
            </ul>
            <!-- ################################################################################################ -->
        </div>
    </header>
</body>
</html>