<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
    <header th:fragment="header" id="header"> <!--class="hoc clear" alert alert-success-->
        <div id="logo" class="fl_left">
            <!-- ################################titulopagina####################################### -->
            <h1 class="titulo"> Supercoders Comics</h1>
            <!--################################################################################################ -->
        </div>
        <!-- #############################Menusuperior############################################################ -->
    </header>
</body>
</html>