<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="header" id="logo" class="d-flex text-center pb-3 mb-4 border-bottom">

    <div class="h-100 d-flex flex-row">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a id="logo_a" href="/" class="d-flex text-decoration-none">
                    <img src="/img/logo.png" height="180px" role="img" aria-label="SuperCoders">
                </a>

                <!--<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                            Customers
                        </a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
    <div class="px-3 py-2 mb-3 ms-auto">
        <div class="container d-flex flex-wrap justify-content-center">
            <div class="text-end">
                <button type="button" style="border: #000 solid 2px;" class="btn btn-light text-dark me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </div>
    </div>


    <!--

    <a href="#" target="_self">
        <img class="align-self-start"	alt="SuperCoders Comic" src="/img/super.png">
    </a>-->
</div>
</body>
</html>