<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="sidebar" id="sidebar" class="d-flex text-center">
    <div id="sidebar_buttons" class="d-flex flex-column flex-grow-1 gap-3 my-5">

        <a th:href="@{/transaction}" class="btn btn-danger" role="button">Transactions</a>

        <a th:href="@{/employee}" class="btn btn-danger" role="button">Employees</a>

        <a th:href="@{/enterprise}" class="btn btn-danger" role="button">Enterprises</a>
    </div>

</div>
</body>
</html>