<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="sidebar" id="logo" class="d-flex text-center">
    <div class="d-flex flex-column gap-3 my-5">
        <button type="button" class="btn btn-lg btn-primary btn-block">
            Ingresos y Egresos
        </button>
        <button type="button" class="btn btn-lg btn-primary btn-block">
            Usuarios
        </button>
        <button type="button" class="btn btn-lg btn-primary btn-block">
            Empresas
        </button>
    </div>

</div>
</body>
</html>