<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div class="container-fluid h-100 d-flex flex-column justify-content-center">
    <header th:replace="~{fragments/header2 :: header2}"></header>

    <th:block th:if="${message != null}">
        <div th:replace="~{fragments/alert :: alert (message=${message})}">&nbsp;</div>
    </th:block>

    <div class="h-100 d-flex flex-row justify-content-start align-items-start">
        <aside class="col-md-3 mx-auto">
            <div th:insert="~{fragments/sidebar :: sidebar}"></div>
        </aside>
        <main class="content col-md-9 mx-auto">
            <!--CONTENIDO MODIFICABLE-->
            <div id="section-title" class="row">
                <div class="align-items col-md-12 mt-5">
                    <h3 class="text-center text-muted">
                        New Transaction
                    </h3>
                </div>
            </div>

            <div id="section-data" class="row">
                <div class="col-md-12">

                    <form th:action="@{/transaction}" th:object="${transaction}" method="post">
                        <!--Campo para Concept-->
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-3" for="concept">Concept:</label>
                                <div class="col-md-6">
                                    <input type="text" th:field="*{concept}" class=" form-control" id="concept" required="required"></div>
                            </div>
                        </div>

                        <!--Campo para Amount-->
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-3" for="amount">Amount:</label>
                                <div class="col-md-6">
                                    <input type="text" th:field="*{amount}" class="form-control" id="amount" required="required"></div>
                            </div>
                        </div>

                        <!--Campo para CreatedAt-->
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-3" for="createdAt">Created at:</label>
                                <div class="col-md-6">
                                    <input type="date" th:date="*{updatedAt}" class="form-control" id="createdAt" required="required"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-3" for="createdAt">Employee:</label>
                                <div class="col-md-6">
                                    <select class="form-control" name="employee" id="employee">
                                        <option  th:each="empl : ${employees}"
                                                 th:value="${empl.id}" th:text="${empl.id} + ' | ' + ${empl.name}"/>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-md-3" for="createdAt">Enterprise:</label>
                                <div class="col-md-6">
                                    <select class="form-control" name="enterprise" id="enterprise">
                                        <option th:each="enterprise : ${enterprises}"
                                                th:value="${enterprise.id}"
                                                th:text="${enterprise.id} + ' | ' + ${enterprise.name}"/>
                                    </select>
                                </div>
                            </div>


                            <!--Boton para enviar todo y ejecutar accion -->
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <button class="btn btn-success">Save</button>
                                </div>
                                <div class="col-md-2">
                                    <a th:href="@{/transaction}" class="btn btn-info" role="button">Back</a>
                                </div>

                            </div>

                    </form>

                </div>
            </div>
            <!--FIN DEL CONTENIDO MODIFICABLE-->
        </main>
    </div>

    <footer class="row d-flex">
        <div th:insert="~{fragments/footer :: copy}"></div>
    </footer>
</div>


<script th:inline="javascript">
    window.onload=function(){

        var msg = [[${message}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
        }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>

</body>
</html>