<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Add Enterprise - Ciclo3</title>
    <style>
        a{
            color:white;
        }
        a:hover {
            color: black;
            text-decoration:none;
        }
    </style>
</head>
<body>

<div class="container">
    <h1> Add Enterprise data</h1>
    <br>
    <!--Crear formulario para llenar los datos de la empresa y guardarlo en el objeto emp -->
    <form th:action="@{/enterprise}" th:object="${enterprise}" method="post">
        <!--Campo para nombre-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="name">Name:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{name}" class="form-control" id="name" required="required"></div>
            </div>
        </div>

        <!--Campo para direccion-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="address">Address:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{address}" class="form-control" id="address" required="required"></div>
            </div>
        </div>

        <!--Campo para telefono-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="phone">Phone:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{phone}" class="form-control" id="phone" required="required"></div>
            </div>
        </div>

        <!--Campo para NIT-->
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3" for="NIT">Document:</label>
                <div class="col-md-6">
                    <input type="text" th:field="*{NIT}" class="form-control" id="NIT" required="required"></div>
            </div>
        </div>


        <!--Boton para enviar todo y ejecutar accion -->
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success">Save</button>
            </div>
            <div class="col-md-2">
                <a th:href="@{/enterprise}" class="btn btn-info" role="button">Back</a>
            </div>

        </div>

    </form>

    <br>


</div>
</body>
</html>